@charset "UTF-8";

.jumbotron{
	background-color: black;
	color: white;
}

.body{
	color:#000000;
	font-family: "Arial";
}

.little-images {
	height: 10px;
	width: 15px;
}

.little-image-1{
	background-color: #F193FF;
}





